// src/css/quasar.variables.sass
$primary : #7367f0;
$secondary : #82868b;
$accent : #9C27B0;

$dark : #4b4b4b;
$dark-page : #121212;

$positive : #28c76f;
$negative : #ea5455;
$info : #00cfe8;
$warning : #ff9f43;

@import 'quasar/src/css/index.sass'